[Desktop Entry]
Categories=Graphics;GTK;
Comment=Screen capturing application
Exec=deepin-turbo-invoker --type=dtkwidget deepin-screenshot --icon
GenericName=Screenshot
Icon=deepin-screenshot
Name=Deepin Screenshot
StartupNotify=false
Type=Application
X-Deepin-ManualID=deepin-screenshot
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am]=መመልከቻውን ፎቶ ማንሻ መተግበሪያ
Comment[am_ET]=መመልከቻውን ፎቶ ማንሻ መተግበሪያ
Comment[ar]=تطبيق التقاط صور للشاشة
Comment[ast]=Aplicación de captura de pantalla
Comment[az]=Ekran çəkmə tətbiqetməsi
Comment[bg]=Програма за заснемане на екрана
Comment[ca]=Aplicació per fer una captura de la pantalla
Comment[cs]=Program na zachytávání obrazovky
Comment[da]=Skærmbilledprogram
Comment[de]=Bildschirmfotos aufnehmen und zuschneiden
Comment[el]=Εφαρμογή καταγραφής οθόνης
Comment[en_AU]=Screen capture application
Comment[eo]=Ekrankaptado apliko
Comment[es]=Aplicación para captura de pantalla
Comment[es_419]=Aplicación de captura de pantalla
Comment[es_AR]=Aplicación de Captura de Pantalla
Comment[es_CL]=Captura de pantalla a Aplicación
Comment[es_ES]=Capturador de Pantalla
Comment[es_PE]=Aplicación para captura de pantallas
Comment[fi]=Kuvakaappaus ohjelma
Comment[fr]=Application de capture d'écran
Comment[gl_ES]=Aplicación de captura de pantalla
Comment[he]=תוכנת צילום מסך
Comment[hi_IN]=अनुप्रयोग का दृश्य लें
Comment[hr]=Aplikacija snimke zaslona
Comment[hu]=Képernyőkép mentés készítő alkalmazás
Comment[hy]=Էկրանից նկար ստեղծող հավելված
Comment[id]=Aplikasi penangkap layar
Comment[it]=Applicazione per screenshot
Comment[ja]=スクリーンキャプチャーアプリケーション
Comment[ko]=스크린 캡쳐 소프트웨어
Comment[lt]=Ekrano kopijavimo programa
Comment[ms]=Aplikasi menangkap skrin
Comment[nb]=Skjermbilde program
Comment[nl]=Applicatie voor het maken van schermafdrukken
Comment[pam]=Application a pamag kuang Screen
Comment[pl]=Program do przechwytywania ekranu
Comment[pt]=Aplicação de captura de ecrã
Comment[pt_BR]=Aplicação de captura de tela
Comment[ro]=Aplicație de capturare a ecranului
Comment[ru]=Приложение захвата экрана
Comment[sk]=Program na nahrávanie obrazovky
Comment[sl]=Program za zajem zaslona
Comment[sr]=Програм за усликавање екрана
Comment[sv]=Skärmbildsprogram
Comment[ta]=திரையைப் படம் பிடிக்கும் மென்பொருள்
Comment[tr]=Ekran görüntüsü alma uygulaması
Comment[uk]=Програма для створення знімків екрана
Comment[zh_CN]=屏幕截图程序
Comment[zh_HK]=螢幕擷取程式
Comment[zh_TW]=螢幕截圖工具
GenericName[af]=Skermkiekie
GenericName[am]=መመልከቻውን ፎቶ ማንሻ መተግበሪያ
GenericName[am_ET]=መመልከቻውን ፎቶ ማንሻ
GenericName[ar]=لقطة للشاشة
GenericName[ast]=Capturar pantalla
GenericName[az]=Ekran görüntüsü çəkmək
GenericName[bg]=Снимка на екрана
GenericName[bn]= স্ক্রিনশট
GenericName[ca]=Captura de pantalla
GenericName[cs]=Snímek obrazovky
GenericName[da]=Skærmbillede
GenericName[de]=Bildschirmfoto
GenericName[el]=Στιγμιότυπο οθόνης
GenericName[en_AU]=Screenshot
GenericName[eo]=Ekranbildo
GenericName[es]=Captura de pantalla
GenericName[es_419]=Captura de pantalla
GenericName[es_AR]=Aplicación de Captura de Pantalla
GenericName[es_CL]=Captura de pantalla a Aplicación
GenericName[es_ES]=Capturador de Pantalla
GenericName[es_PE]=Aplicación para captura de pantallas
GenericName[fa]=تصویر از صفحه
GenericName[fi]=Ruudunkaappaus
GenericName[fr]=Capture d'écran
GenericName[gl_ES]=Captura de pantalla
GenericName[he]=צילום מסך
GenericName[hi_IN]=स्क्रीनशॉट
GenericName[hr]=Snimak zaslona
GenericName[hu]=Képernyőkép
GenericName[hy]=Վայրկենապատկեր
GenericName[id]=Tangkapan Layar
GenericName[it]=Screenshot
GenericName[ja]=スクリーンショット
GenericName[ko]=스크린샷
GenericName[ku_IQ]=Dîmena dîmenderê
GenericName[lt]=Ekrano kopija
GenericName[ms]=Cekupan skrin
GenericName[nb]=Skjermskudd
GenericName[nl]=Schermafdruk
GenericName[pl]=Zrzut ekranu
GenericName[pt]=Capturar Ecrã
GenericName[pt_BR]=Captura de tela
GenericName[ro]=Captură  ecran
GenericName[ru]=Снимок
GenericName[sk]=Snímok obrazovky
GenericName[sl]=Slika zaslona
GenericName[sr]=Слика екрана
GenericName[sv]=Skärmdump
GenericName[ta]=திரைப்பிடிப்பு
GenericName[tr]=Ekran Görüntüsü
GenericName[uk]=Знімок екрану
GenericName[vi]=Ảnh chụp màn hình
GenericName[zh_CN]=截图
GenericName[zh_HK]=截圖設定
GenericName[zh_TW]=截圖
Name[am]=መመልከቻውን ፎቶ ማንሻ
Name[am_ET]=የ ዲፕኢን መመልከቻ ፎቶ
Name[ar]=مصور الشاشة ديبين
Name[ast]=Deepin Screenshot
Name[az]=Deepin Ekran Görüntüsü
Name[bg]=Deepin Снимка на екрана
Name[ca]=Capturador de pantalla del Deepin
Name[cs]=Snímek obrazovky
Name[da]=Deepin skærmbillede
Name[de]=Deepin Screenshot
Name[el]=Στιγμιότυπο οθόνης Deepin
Name[en_AU]=Deepin Screenshot
Name[eo]=Deepin ekranbildo
Name[es]=Capturadora Deepin
Name[es_419]=Captura de pantalla Deepin
Name[es_AR]=Capturador de Pantalla Deepin
Name[es_CL]=Captura de pantalla Deepin
Name[es_ES]=Captura de Pantalla de Deepin
Name[es_PE]=Deepin Capturas de pantalla
Name[fi]=Deepin-ruudunkaappaus
Name[fil]=Deepin Screenshot
Name[fr]=Capture d'écran Deepin
Name[gl_ES]=Captura de pantalla
Name[he]=Deepin צילום מסך
Name[hi_IN]=डीपइन स्क्रीनशॉट
Name[hr]=Deepin slike zaslona
Name[hu]=Deepin Képernyőkép
Name[hy]=Deepin-ի Նկար
Name[id]=Tangkapan Layar Deepin
Name[it]=Deepin Screenshot
Name[ja]=Deepin Screenshot
Name[ko]=Deepin 스크린샷
Name[lt]=Deepin ekrano kopija
Name[ms]=Cekupan Skrin Deepin
Name[nb]=Deepin Skjermskudd
Name[nl]=Deepin Schermafdruk
Name[pam]=Deepin Screenshot
Name[pl]=Zrzuty ekranu Deepin
Name[pt]=Deepin Screenshot
Name[pt_BR]=Captura de Tela
Name[ro]=Captura de ecran Deepin
Name[ru]=Приложение для снимков экрана Deepin
Name[sk]=Deepin Snímka obrazovky
Name[sl]=Zajem zaslona Deepin
Name[sr]=Дипин Слика Екрана
Name[sv]=Deepin skärmdump
Name[ta]=Deepin திரைப்பிடிப்பு
Name[tr]=Deepin Ekran Görüntüsü
Name[uk]=Знімок Екрану Deepin
Name[vi]=Trình chụp ảnh màn hình Deepin
Name[zh_CN]=深度截图
Name[zh_HK]=Deepin 截圖
Name[zh_TW]=Deepin 截圖

[Full_Screenshot Shortcut Group]

# Translations:
# Do not manually modify!
Name[en]=Full Screenshot

[X-Delay_Screenshot Shortcut Group]
Exec=deepin-screenshot -d 5
Name=Delay Screenshot

# Translations:
# Do not manually modify!
Name[am_ET]=የ መመልከቻውን ፎቶ ማዘግያ
Name[ar]=تأخير لقطة الشاشة
Name[ast]=Retrasar captura
Name[bg]=Забавена снимка на екрана
Name[ca]=Ajorna la captura
Name[cs]=Zpozdit snímek obrazovky
Name[da]=Forsink skærmbillede
Name[de]=Bildschirmfoto verzögern
Name[el]=Καθυστέρηση στιγμιότυπου οθόνης
Name[es]=Captura temporizada
Name[es_419]=Retardo de captura
Name[fr]=Délai de capture d'écran
Name[gl_ES]=Atraso na captura
Name[he]=השהיית צילום המסך
Name[hr]=Odgoda snimke zaslona
Name[hu]=Felvétel késleltetése
Name[id]=Tangkapan layar tunda
Name[it]=Screenshot ritardato
Name[ko]=지연 스크린샷
Name[lt]=Uždelsti ekrano kopiją
Name[ms]=Lengah Cekupan Skrin
Name[nl]=Schermafdruk uitstellen
Name[pl]=Opóźnij wykonanie zrzutu ekranu
Name[pt]=Atraso da captura
Name[pt_BR]=Atraso em captura de tela
Name[ru]=Снимок экрана с Задержкой
Name[sk]=Oneskorená snímka obrazovky
Name[sl]=Zamakni slikanje zaslona
Name[sr]=Одложи усликавање
Name[tr]=Ekran Görüntüsü
Name[uk]=Затримка знімку екрану
Name[zh_CN]=延时截图
Name[zh_TW]=延時截圖

[X-Full_Screenshot Shortcut Group]
Exec=deepin-screenshot -f
Name=Full Screenshot

# Translations:
# Do not manually modify!
Name[am_ET]=ሙሉ የ መመልከቻ ፎቶ
Name[ar]=لقطة لكامل الشاشة
Name[ast]=Caputura a pantalla completa
Name[bg]=Пълна снимка на екрана
Name[ca]=Captura de pantalla completa
Name[cs]=Plný snímek obrazovky
Name[da]=Fuldt skærmbillede
Name[de]=Vollbildschirm-Foto
Name[el]=Πλήρες στιγμιότυπο οθόνης
Name[es]=Captura completa
Name[es_419]=Captura completa
Name[fr]=Capture de l'ensemble de l'écran
Name[gl_ES]=Captura de pantalla completa
Name[he]=צילום כל המסך
Name[hr]=Cjelozaslonski snimak zaslona
Name[hu]=Teljes képernyőkép
Name[id]=Tangkapan layar penuh
Name[it]=Screenshot 
Name[ja]=フルスクリーンショット
Name[ko]=전체 스크린샷
Name[lt]=Viso ekrano kopija
Name[ms]=Cekupan Skrin Penuh
Name[nl]=Volledig scherm
Name[pl]=Zrzut pełnego ekranu
Name[pt]=Captura Total
Name[pt_BR]=Captura em tela cheia
Name[ru]=Полноэкранный Снимок
Name[sk]=Plná snímka obrazovky
Name[sl]=Zajem celega zaslona
Name[sr]=Усликавање целог екрана
Name[tr]=Tam Ekran Görüntüsü
Name[uk]=Повний знімок екрана
Name[zh_CN]=全屏截图
Name[zh_TW]=全螢幕截圖

