[Desktop Entry]
Categories=Graphics;GTK;
Comment=Screen capturing application
Exec=deepin-screenshot --icon
GenericName=Screen capturing application
Icon=deepin-screenshot
Name=Deepin Screenshot
StartupNotify=false
Type=Application

# Translations:
# Do not manually modify!
Comment[am]=መመልከቻውን ፎቶ ማንሻ መተግበሪያ
Comment[am_ET]=መመልከቻውን ፎቶ ማንሻ መተግበሪያ
Comment[ar]=تطبيق التقاط صور للشاشة
Comment[ast]=Aplicación de captura de pantalla
Comment[az]=Ekran çəkmə tətbiqetməsi
Comment[bg]=Програма за заснемане на екрана
Comment[cs]=Program na zachytávání obrazovky
Comment[da]=Skærmbilledprogram
Comment[de]=Bildschirmfoto Aufnahmesoftware
Comment[el]=Εφαρμογή καταγραφής οθόνης
Comment[en_AU]=Screen capture application
Comment[eo]=Ekrankaptado apliko
Comment[es]=Aplicación para captura de pantalla
Comment[es_419]=Aplicación de captura de pantalla
Comment[es_AR]=Aplicación de Captura de Pantalla
Comment[es_CL]=Captura de pantalla a Aplicación
Comment[es_ES]=Capturador de Pantalla
Comment[es_PE]=Aplicación para captura de pantallas
Comment[fi]=Kuvakaappaus ohjelma
Comment[fr]=Application de capture d'écran
Comment[gl_ES]=Aplicación de captura de pantalla
Comment[he]=תוכנת צילום מסך
Comment[hi_IN]=अनुप्रयोग का दृश्य लें
Comment[hr]=Aplikacija snimke zaslona
Comment[hu]=Képernyőkép rögzítő alkalmazás
Comment[hy]=Էկրանից նկար ստեղծող հավելված
Comment[id]=Aplikasi penangkap layar
Comment[it]=Applicazione per screenshot
Comment[ja]=スクリーンキャプチャーアプリケーション
Comment[ko]=스크린 캡쳐 소프트웨어
Comment[lt]=Ekrano kopijavimo programa
Comment[ms]=Aplikasi menangkap skrin
Comment[nb]=Skjermbilde program
Comment[nl]=Applicatie voor het maken van schermafdrukken
Comment[pam]=Application a pamag kuang Screen
Comment[pl]=Program do przechwytywania ekranu
Comment[pt]=Aplicação de captura de ecrã
Comment[pt_BR]=Aplicação de captura de tela
Comment[ro]=Aplicație de capturare a ecranului
Comment[ru]=Приложение захвата экрана
Comment[sk]=Program na nahrávanie obrazovky
Comment[sl]=Program za zajem zaslona
Comment[sv]=Skärmbildsprogram
Comment[ta]=திரையைப் படம் பிடிக்கும் மென்பொருள்
Comment[tr]=Ekran yakalama uygulaması
Comment[uk]=Програма для створення знімків екрана
Comment[zh_CN]=屏幕截图程序
Comment[zh_HK]=螢幕擷取程式
Comment[zh_TW]=螢幕截圖工具
GenericName[am]=መመልከቻውን ፎቶ ማንሻ መተግበሪያ
GenericName[am_ET]=መመልከቻውን ፎቶ ማንሻ መተግበሪያ
GenericName[ar]=تطبيق التقاط صور للشاشة
GenericName[ast]=Aplicación de captura de pantalla
GenericName[az]=Ekran çəkmə tətbiqetməsi
GenericName[bg]=Програма за заснемане на екрана
GenericName[cs]=Program na zachytávání obrazovky
GenericName[da]=Skærmbilledprogram
GenericName[de]=Bildschirmfoto Aufnahmesoftware
GenericName[el]=Εφαρμογή καταγραφής οθόνης
GenericName[en_AU]=Screen capture application
GenericName[eo]=Ekrankaptado apliko
GenericName[es]=Aplicación para captura de pantalla
GenericName[es_419]=Aplicación de captura de pantalla
GenericName[es_AR]=Aplicación de Captura de Pantalla
GenericName[es_CL]=Captura de pantalla a Aplicación
GenericName[es_ES]=Capturador de Pantalla
GenericName[es_PE]=Aplicación para captura de pantallas
GenericName[fi]=Kuvakaappaus ohjelma
GenericName[fr]=Application de capture d'écran
GenericName[gl_ES]=Aplicación de captura de pantalla
GenericName[he]=תוכנת צילום מסך
GenericName[hi_IN]=अनुप्रयोग का दृश्य लें
GenericName[hr]=Aplikacija snimke zaslona
GenericName[hu]=Képernyőkép rögzítő alkalmazás
GenericName[hy]=Էկրանից նկար ստեղծող հավելված
GenericName[id]=Aplikasi penangkap layar
GenericName[it]=Applicazione per screenshot
GenericName[ja]=スクリーンキャプチャーアプリケーション
GenericName[ko]=스크린 캡쳐 소프트웨어
GenericName[lt]=Ekrano kopijavimo programa
GenericName[ms]=Aplikasi menangkap skrin
GenericName[nb]=Skjermbilde program
GenericName[nl]=Applicatie voor het maken van schermafdrukken
GenericName[pam]=Application a pamag kuang Screen
GenericName[pl]=Program do przechwytywania ekranu
GenericName[pt]=Aplicação de captura de ecrã
GenericName[pt_BR]=Aplicação de captura de tela
GenericName[ro]=Aplicație de capturare a ecranului
GenericName[ru]=Приложение захвата экрана
GenericName[sk]=Program na nahrávanie obrazovky
GenericName[sl]=Program za zajem zaslona
GenericName[sv]=Skärmbildsprogram
GenericName[ta]=திரையைப் படம் பிடிக்கும் மென்பொருள்
GenericName[tr]=Ekran yakalama uygulaması
GenericName[uk]=Програма для створення знімків екрана
GenericName[zh_CN]=屏幕截图程序
GenericName[zh_HK]=螢幕擷取程式
GenericName[zh_TW]=螢幕截圖工具
Name[am]=መመልከቻውን ፎቶ ማንሻ
Name[am_ET]=የ ዲፕኢን መመልከቻ ፎቶ
Name[ar]=مصور الشاشة ديبين
Name[ast]=Capturador Deepin de pantalla
Name[az]=Deepin Ekran Görüntüsü
Name[bg]=Deepin Снимка на екрана
Name[cs]=Snímek obrazovky
Name[da]=Deepin skærmbillede
Name[de]=Deepin Screenshot
Name[el]=Στιγμιότυπο οθόνης Deepin
Name[en_AU]=Deepin Screenshot
Name[eo]=Deepin ekranbildo
Name[es]=Captura de pantalla deepin
Name[es_419]=Captura de pantalla Deepin
Name[es_AR]=Capturador de Pantalla Deepin
Name[es_CL]=Captura de pantalla Deepin
Name[es_ES]=Captura de Pantalla de Deepin
Name[es_PE]=Deepin Capturas de pantalla
Name[fi]=Deepin-ruudunkaappaus
Name[fil]=Deepin Screenshot
Name[fr]=Capture d'écran Deepin
Name[gl_ES]=Captura de pantalla
Name[he]=Deepin צילום מסך
Name[hi_IN]=डीपइन स्क्रीनशॉट
Name[hr]=Deepin slike zaslona
Name[hu]=Deepin Képernyőkép
Name[hy]=Deepin-ի Նկար
Name[id]=Tangkapan Layar Deepin
Name[it]=Deepin Screenshot
Name[ja]=Deepin Screenshot
Name[ko]=Deepin 스크린샷
Name[lt]=Deepin ekrano kopija
Name[ms]=Cekupan Skrin Deepin
Name[nb]=Deepin Skjermskudd
Name[nl]=Deepin Schermafdruk
Name[pam]=Deepin Screenshot
Name[pl]=Zrzuty ekranu Deepin
Name[pt]=Captura de ecrã Deepin
Name[pt_BR]=Deepin Screenshot
Name[ro]=Captura de ecran Deepin
Name[ru]=Приложение для снимков экрана Deepin
Name[sk]=Deepin Snímka obrazovky
Name[sl]=Zajem zaslona Deepin
Name[sr]=Deepin Слика Екрана
Name[sv]=Deepin skärmdump
Name[ta]=Deepin திரைப்பிடிப்பு
Name[tr]=Deepin Ekran Görüntüsü
Name[uk]=Знімок Екрану Deepin
Name[vi]=Trình chụp ảnh màn hình Deepin
Name[zh_CN]=深度截图
Name[zh_HK]=Deepin 截圖
Name[zh_TW]=Deepin 截圖

[Delay_Screenshot Shortcut Group]
Exec=deepin-screenshot -d 5
Name=Delay Screenshot

# Translations:
# Do not manually modify!
Name[ar]=تأخير لقطة الشاشة
Name[ast]=Retrasar captura
Name[bg]=Забавена снимка на екрана
Name[cs]=Zpozdit snímek obrazovky
Name[da]=Forsink skærmbillede
Name[de]=Bildschirmfoto verzögern
Name[es]=Demora de captura
Name[es_419]=Retardo de captura
Name[fr]=Délai de capture d'écran
Name[gl_ES]=Atraso na captura
Name[he]=השהיית צילום המסך
Name[hu]=Felvétel késleltetése
Name[id]=Tangkapan layar tunda
Name[it]=Screenshot ritardato
Name[lt]=Uždelsti ekrano kopiją
Name[pl]=Opóźnij wykonanie zrzutu ekranu
Name[pt]=Atraso da captura
Name[pt_BR]=Atraso em captura de tela
Name[ru]=Снимок экрана с Задержкой
Name[sk]=Oneskorená snímka obrazovky
Name[sl]=Zamakni slikanje zaslona
Name[tr]=Ekran Görüntüsü
Name[zh_CN]=延时截图
Name[zh_TW]=延時截圖

[Full_Screenshot Shortcut Group]
Exec=deepin-screenshot -f
Name=Full Screenshot

# Translations:
# Do not manually modify!
Name[ar]=لقطة لكامل الشاشة
Name[ast]=Caputura a pantalla completa
Name[bg]=Пълна снимка на екрана
Name[cs]=Plný snímek obrazovky
Name[da]=Fuldt skærmbillede
Name[de]=Vollbildschirm-Foto
Name[en]=Full Screenshot
Name[es]=Captura completa
Name[es_419]=Captura completa
Name[fr]=Capture de l'ensemble de l'écran
Name[he]=צילום כל המסך
Name[hu]=Teljes képernyőkép
Name[id]=Tangkapan layar penuh
Name[it]=Screenshot 
Name[lt]=Viso ekrano kopija
Name[pl]=Zrzut pełnego ekranu
Name[pt]=Captura Total
Name[pt_BR]=Captura em tela cheia
Name[ru]=Полноэкранный Снимок
Name[sk]=Plná snímka obrazovky
Name[sl]=Zajem celega zaslona
Name[tr]=Tam Ekran Görüntüsü
Name[zh_CN]=全屏截图
Name[zh_TW]=全螢幕截圖

