[Delay_Screenshot Shortcut Group]
Exec=deepin-screenshot -d 5
Name=Delay 5 seconds
Name[ar]=تأخير 5 ثواني
Name[cs]=Zpoždění 5 sekund
Name[da]=Forsinkelse 5 sekunder
Name[en]=Delay 5 seconds
Name[es]=Retrasar 5 segundos
Name[fr]=Délais 5 secondes
Name[pt_BR]=Atraso de 5 segundos
Name[ru]=Задержка 5 секунд
Name[sk]=Oneskorenie 5 sekúnd
Name[sl]=Zakasni za 5 sekund
Name[zh_CN]=延时5秒截图
Name[zh_HK]=延時5秒擷取
Name[zh_TW]=延時5秒擷取

[Desktop Entry]
Categories=Graphics;GTK;
Comment=Screen capturing application
Comment[ar]=تطبيق أخذ لقطة للشاشة
Comment[cs]=Program na zachytávání obrazovky
Comment[da]=Skærmbillede program
Comment[en]=Screen capturing application
Comment[es]=Aplicación para capturar pantalla
Comment[fr]=Application du capture d'écran
Comment[pt_BR]=Aplicação de captura de tela
Comment[ru]=Приложение для снятия скриншотов
Comment[sk]=Program na nahrávanie obrazovky
Comment[sl]=Program za zajem zaslona
Comment[zh_CN]=屏幕截图程序
Comment[zh_HK]=螢幕擷取程式
Comment[zh_TW]=螢幕擷取程式
Exec=deepin-screenshot --icon
GenericName=Screen capturing application
Icon=deepin-screenshot
Name=Deepin Screenshot
Name[ar]=دييبن لقطة الشاشة 
Name[cs]=Snímek obrazovky
Name[da]=Deepin skærmbillede
Name[en]=Deepin Screenshot
Name[es]=Captura de pantalla Deepin
Name[fr]=Capture d'écran de Deepin
Name[pt_BR]=Deepin Screenshot
Name[ru]=Deepin Скриншотер
Name[sk]=Snímka obrazovky
Name[sl]=Zajemalnik zaslona Deepin
Name[zh_CN]=深度截图
Name[zh_TW]=深度截圖
StartupNotify=false
Type=Application

[Full_Screenshot Shortcut Group]
Exec=deepin-screenshot -f
Name=Full Screenshot
Name[ar]=أخد لقطة لكامل الشاشة
Name[cs]=Plný snímek obrazovky
Name[da]=Tag billede af hele skrivebordet
Name[en]=Full Screenshot
Name[es]=Captura de pantalla Completa
Name[fr]=Plein écran
Name[pt_BR]=Captura de Tela Completa
Name[ru]=Полный скриншот
Name[sk]=Celý snímok obrazovky
Name[sl]=Zajem celotnega zaslona
Name[zh_CN]=截取全屏
Name[zh_HK]=擷取全螢幕
Name[zh_TW]=擷取全螢幕
